[Unit]
Description=docker
Documentation=https://github.com/docker/docker
Requires=flannel.service
After=flannel.service

[Service]
EnvironmentFile=/run/flannel/subnet.env
ExecStart=/usr/bin/dockerd \
  --bip ${FLANNEL_SUBNET} \
  --mtu ${FLANNEL_MTU} \
  --iptables=false \
  --ip-masq=false
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
