[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd

[Service]
ExecStart=/usr/bin/etcd --name etcd0 \
  --cert-file=/etc/tls/etcd-client.pem \
  --key-file=/etc/tls/etcd-client-key.pem \
  --peer-cert-file=/etc/tls/etcd-client.pem \
  --peer-key-file=/etc/tls/etcd-client-key.pem \
  --trusted-ca-file=/etc/tls/ca.pem \
  --peer-trusted-ca-file=/etc/tls/ca.pem \
  --initial-advertise-peer-urls https://{{ etcd.advertise_url }}:2380 \
  --listen-peer-urls https://{{ etcd.advertise_url }}:2380 \
  --listen-client-urls https://{{ etcd.advertise_url }}:2379 \
  --advertise-client-urls https://{{ etcd.advertise_url }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster etcd0=https://{{ etcd.advertise_url }}:2380 \
  --initial-cluster-state new \
  --data-dir={{ etcd.data_dir }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
