[Unit]
Description=flannel
Documentation=https://github.com/coreos/flannel
Requires=etcd.service
After=etcd.service

[Service]
ExecStart=/usr/bin/flanneld \
  --etcd-endpoints {{ flannel.etcd_url }} \
  --etcd-cafile /etc/tls/ca.pem \
  --ip-masq
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
