apiVersion: v1
kind: Pod
metadata:
  name: kube-apiserver
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-apiserver
    image: gcr.io/google_containers/hyperkube-amd64:v{{ kubernetes.version }}
    command:
    - /hyperkube
    - apiserver
    - --advertise-address={{ ansible_default_ipv4.address }}
    - --authorization-mode=AlwaysAllow
    - --bind-address={{ ansible_default_ipv4.address }}
    - --etcd-servers=https://{{ ansible_default_ipv4.address }}:2379
    - --etcd-cafile=/etc/tls/ca.pem
    - --service-cluster-ip-range={{ kubernetes.service_cidr }}
    - --tls-ca-file=/etc/tls/ca.pem
    - --tls-cert-file=/etc/tls/apiserver.pem
    - --tls-private-key-file=/etc/tls/apiserver-key.pem
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        port: 8080
        path: /healthz
      initialDelaySeconds: 15
      timeoutSeconds: 15
    ports:
    - containerPort: 443
      hostPort: 443
      name: https
    - containerPort: 8080
      hostPort: 8080
      name: local
    volumeMounts:
    - mountPath: /etc/tls
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: /etc/tls
    name: ssl-certs-kubernetes
  - hostPath:
      path: /etc/ssl/certs
    name: ssl-certs-host
